<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.0/united/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Add An Item</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 2em;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="colorLogo.png" width="45" alt="" class="d-inline-block align-middle mr-2" style="padding-right: 0.5em; "><span class="font-weight-bold" >ToolPool</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link " href="Dashboard.html">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help & Contact</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
    <form class="mx-auto mt-5"  style="max-width:50%">
        <fieldset>
          <legend class="h2">Add An Item</legend>
          <small id="exValueHelp" class="form-text text-muted">Uploaded Items are not for sale! They are donated or exchanged</small>
          <div class="form-group row">
          
          </div>
          <div class="form-group">
            <legend for="Input_AddItemName" class="form-label mt-4">Item Name</legend>
            <input type="text" class="form-control" id="Input_AddItemName" placeholder="ex Casio Calculator es991">
            <small id="itemNameHelp" class="form-text text-muted">Enter a meaningful descriptive name for your item</small>
          </div>
         
          <div class="form-group">
            <legend for="exampleSelect1" class="form-label mt-4">Exchange Value</legend>
            <select class="form-select" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <small id="exValueHelp" class="form-text text-muted">how much is this item worth to you?</small>
            <small id="exValueHelp" class="form-text text-muted">ex: Casio Calculator would be exhange value 2 or 3</small>
          </div>
          
          <div class="form-group">
            <legend for="exampleTextarea" class="form-label mt-4">Description</legend>
            <textarea class="form-control" id="exampleTextarea" rows="3"  placeholder="A Casio Calculator , model: es991 , condition: Excellent Condition, used twice"></textarea>
          </div>
         

          <fieldset class="form-group">
            <legend class="mt-4">Intent</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" style="font-size: small;" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Donation
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio"  style="font-size: smaller;" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Exchange
              </label>
            </div>
           
          </fieldset>
          <div class="form-floating my-3 pt-2 ">
            <button class="btn  btn-primary  px-5" type="submit">Submit</button>
          </div>
      </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>