<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.0/united/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Login</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>



  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 2em;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="colorLogo.png" width="45" alt="" class="d-inline-block align-middle mr-2" style="padding-right: 0.5em; "><span class="font-weight-bold" >ToolPool</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " href="index.html">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help & Contact</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          
          <li class="nav-item bg-primary " style="border-radius: 1em; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0.3em;" >
            <a class="nav-link" href="#" style="font-weight: bolder; color: #F8F9FA; ">+ Item</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



  <form>
    <fieldset>
    <div class=" mx-auto form-group " style="max-width:50%">
        <legend class="form-label mt-4 h4 my-4">Log Into Your Account!</legend>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <div class="form-floating text-center pt-2 ">
        <button class="btn  btn-primary  px-5" type="submit">Login</button>
      </div>
      <div class="text-center my-3" >
          <h6 >Don't have an account? <small class="text-danger"><a href="signUp.html"><u>Sign Up!</u></a></small></h6>
      </div>
 </fieldset>
  </form>


</body>
</html>